/*----------------------------------------------------------------------------
    Mobile Design First
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /*-----Colors-----*/

    /* Primary */
    --cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* Neutral */
    --dark-blue: hsl(210, 10%, 33%);
    --gray-blue: hsl(202, 11%, 66%);
}

/* -------------------- 
    General Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
h1, h2, h3 {
    color: var(--dark-blue);
}
h1 {
    margin-bottom: 1.25rem;
}
p {
    color: var(--gray-blue);
}
button {
    color: white;
    border: none;
    border-radius: 28px;
    font-size: 18px;
    padding: 17px 50px;
}

/* -------------------- 
    Utility Styles
---------------------*/
.space {
    margin-right: 1rem;
    margin-left: 1rem;
}
.ios-btn {
    border-bottom: 3px solid #209E8B;
    background-color: var(--cyan);
    box-shadow: 0px 10px 20px rgba(38, 186, 164, 33%);
    margin-bottom: 1rem;
}
.ios-btn:hover {
    cursor: pointer;
    background-color: #89E5C7;
}
.mac-btn {
    border-bottom: 3px solid #5262D8;
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px rgba(97, 115, 255, 33%);
}
.mac-btn:hover {
    cursor: pointer;
    background-color: hsl(233, 100%, 80%);
}
.f-intro {
    margin-bottom: 3rem;
}
.f-intro h2,
.card h3 {
    margin-bottom: 1rem;
}
.f-img {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.f-img img {
    width: 100%;
}
.card {
    margin-bottom: 3rem;
}
/* -------------------- 
    Header Styles
---------------------*/
header {
    background-image: url("images/bg-header-mobile.png"),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 1));
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div {
    width: 50%;
}
header img {
    opacity: 0.75;
}

/* -------------------- 
    Intro Section
---------------------*/
#intro {
    position: relative;
    margin: -2rem 1rem 7rem 1rem;
}
#intro p {
    margin-bottom: 3rem;
}

/* -------------------- 
    Feature One Section
---------------------*/
#feature-one {
    margin-bottom: 7rem;
}

/* -------------------- 
    Feature Three Section
---------------------*/
#feature-three {
    margin-bottom: 7rem;
}
.card-icon {
    margin-bottom: 1.5rem;
}

/* -------------------- 
    Gallery Section
---------------------*/
#gallery {
    margin-bottom: 7rem;
}
.gallery-img {
    margin-bottom: 3rem;
}

/* -------------------- 
    CTA Section
---------------------*/
#cta {
    margin-bottom: 7rem;
}

/* -------------------- 
    Footer
---------------------*/
footer {
    background-color: var(--gray-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
#footer-content {
    margin: 3rem 0;
}
#footer-logo {
    width: 100%;
    margin-bottom: 3rem;
}
#footer-logo img {
    width: 50%;
}
footer nav {
    margin-bottom: 3rem;
}
footer ul {
    list-style: none;
}
footer li {
    margin-bottom: 1rem;
}
footer a {
    color: var(--dark-blue);
    text-decoration: none;
}
footer a:hover {
    color: var(--cyan);   
}
#social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {
    /* -------------------- 
        Utility Styles
    ---------------------*/
    .space {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .ios-btn {
        margin-right: 1rem;
    }
    /* -------------------- 
        Header Styles
    ---------------------*/
    header {
        background-image: url("images/bg-header-desktop.png");
    }
}

/*----------------------------------------------------------------------------
    Sm Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 900px) {
    /* -------------------- 
        General Styles
    ---------------------*/
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }

    /* -------------------- 
        Header Styles
    ---------------------*/
    header p {
        font-size: 1.11rem;
    }

    /* -------------------- 
        Utility Styles
    ---------------------*/
    .f-intro {
        width: 700px;
        margin: 0 auto 3rem auto;
    }
    /* -------------------- 
        Intro Section
    ---------------------*/
    #intro {
        margin: -2rem auto 7rem auto;
        width: 700px;
    }

    /* -------------------- 
        Feature One Section
    ---------------------*/
    #feature-one {
        width: 700px;
        margin: 0 auto 7rem auto;
    }
    .features {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .features .f-img {
        margin: 0 6rem 0 -20rem;
        width: 151%;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    #feature-one .cards .card {
        text-align: left;
    }
    /* -------------------- 
        Feature Two Section
    ---------------------*/
    #feature-two {
        width: 700px;
        margin: 0 auto;
    }

    /* -------------------- 
        Feature Three Section
    ---------------------*/
    #feature-three {
        width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10rem;
    }
    #feature-three .cards {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #feature-three .card {
        margin-bottom: 0;
    }
    #feature-three .card p {
        width: 300px;
    }
    /* -------------------- 
        Gallery Section
    ---------------------*/
    #gallery {
        width: 1000px;
        margin: auto auto 7rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .gallery-img {
        margin-bottom: 3rem;
    }
    /* -------------------- 
        Footer
    ---------------------*/
    #footer-content {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #footer-logo {
        width: 10%;
        margin-bottom: 0;
    }
    #footer-content nav {
        width: 50%;
        margin-bottom: 0;
    }
    #footer-content nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "cell-1 cell-3 cell-5"
            "cell-2 cell-4 .";
        text-align: left;
    }
    .c-1 {
        grid-area: cell-1;
    }
    .c-2 {
        grid-area: cell-2;
    }
    .c-3 {
        grid-area: cell-3;
    }
    .c-4 {
        grid-area: cell-4;
    }
    .c-5 {
        grid-area: cell-5;
    }
    #social-media {
        width: 10%;
        margin-bottom: 0;
        align-items: flex-start;
    }
}

/*----------------------------------------------------------------------------
   Lg Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {
    /* -------------------- 
        Feature One Section
    ---------------------*/
    .features .f-img {
        margin: 0 6rem 0 -25rem;
        width: 225%;
    }
    /* -------------------- 
        Feature Two Section
    ---------------------*/
    #feature-two .f-img {
        width: 110%;
    }
}
/*----------------------------------------------------------------------------
   Ex Lg Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1500px) {
    /* -------------------- 
        Header Styles
    ---------------------*/
    header {
        background-size: cover;
    }
}