/*----------------------------------------------------------------------------
    Mobile Design First
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /*-----Colors-----*/

    /* Primary */
    --cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* Neutral */
    --dark-blue: hsl(210, 10%, 33%);
    --gray-blue: hsl(201, 11%, 66%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {

}

/*----------------------------------------------------------------------------
    Sm Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 900px) {

}

/*----------------------------------------------------------------------------
    Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}